<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Conditional Rendering</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js"
    integrity="sha256-kzv+r6dLqmz7iYuR2OdwUgl4X5RVsoENBzigdF5cxtU=" crossorigin="anonymous"></script>
</head>

<body>
  <div id="app">
    <!--v-model déja vue-->
    <p>Please guess the number (1 or 2): <input v-model="guess" /></p>
    <!--Different type de condition qui appel fonction ou en coder dur-->
    <p v-if="guessedOk">You gussed right!</p>
    <p v-else-if="guess == null">Type the number!</p>
    <p v-else>Sorry try again!</p>
    <!--Alternative v-show render tout les élement même si condition pas respecter comparer v-if-->
  </div>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        guess: null,
        answer: Math.floor(Math.random() * 2) + 1
      },
      computed: {
        guessedOk: function () {
          return this.guess == this.answer;
        }
      }
    })
  </script>
</body>

</html>